<section class="about">
    <img
      class="about__img"
      src="https://cdn.sanity.io/images/uq1ipftd/production/81d152e3ecc07dfe658476750bbc64a46e2892f1-2938x2938.jpg?w=1920&h=1920&auto=format"
      alt="image of the owner of the page"
      loading="lazy"
    />
    <div class="about__div">
      <h3>ABOUT</h3>
      <h4>Hi! I'm Gusté,</h4>
      <p>
        An artistic graphic designer working across visual identities,
        packaging design, and illustration, with a focus on sustainability,
        wellness, education, and cultural projects.
      </p>
      <span>Let's get in touch!</span>
    </div>
  </section>
