<footer class="footer">
  <menu class="footer__menu">
    <li>
      <button aria-label="redirect to Shipping & Returns page">
        <app-shipping-and-returns />
        <span>Shipping & Returns</span>
      </button>
    </li>
    <li>
      <a role="link" href="#" aria-label="redirect to page email">
        <app-email />
      </a>
    </li>
    <li>
      <a role="link" href="#" aria-label="redirect to instagram page">
        <app-instagram-svg />
      </a>
    </li>
    <li>
      <a role="link" href="#" aria-label="redirect to Be page">
        <app-be />
      </a>
    </li>
    <li>
      <a role="link" href="#" aria-label="redirect to Linkedin page">
        <app-linkedin />
      </a>
    </li>
  </menu>
  <div class="footer__div">
    <a
      role="link"
      class="created-by"
      href="#"
      aria-label="redirect to creator page"
      >Crafted by <span>Mantas</span></a
    >
    <span class="created-in">© 2025 GUSTÉ.DESIGN</span>
  </div>
</footer>
