@use '../../../ui/styles/mixins.scss' as mixins;

.button-connect {
    @include mixins.container(center);
    align-items: center;
    border: 2px solid #1e1e1e;
    font-size: 20px;
    height: 8rem;
    width: 8rem;
    padding: 20px;
    border-radius: 50%;
  }