<header class="header">
    <nav class="header__nav">
      <i class="header__logo">
        <app-header-logo-svg/>
      </i>
      <div class="header__div">
        <a
          role="link"
          href="#"
          class="header__title"
          aria-label="redirect to main page"
          >GUSTÉ.DESIGN</a
        >
      </div>
      <menu class="menu">
        <li>
          <app-header-store-svg/>
          <span>STORE</span>
        </li>
        <li>
          <app-header-projects-svg/>
          <span>PROJECTS</span>
        </li>
        <li>
          <app-header-contact-svg/>
          <span>CONTACT</span>
        </li>
      </menu>
    </nav>
  </header>
