<section class="art-collection">
    <img
      src="https://cdn.sanity.io/images/uq1ipftd/production/d60158aae40c2360f0dfa084293b142346962786-2510x2510.jpg?w=1366&h=1366&auto=format"
      alt="
      A surreal painting of a man with an hourglass for a head stands alone in a vast desert landscape. The sky above is a vibrant blue with fluffy white clouds.
      The man's face is replaced by an hourglass, and sand trickles down from the top, symbolizing the passage of time. The desert setting adds to the sense of isolation and vastness, while the contrasting blue sky suggests a sense of hope or possibility.
      The overall impression is one of introspection and contemplation on the nature of time and mortality.
      "
    />
    <div>
      <h3>ART COLLECTION</h3>
      <h4>
        Elevate your space with an eclectic collection of original
        paintings.
      </h4>
      <p>
        Art collection ignites the imagination and brings joy. Each piece
        blends craftsmanship with creative expression, infusing personality
        into any space.
      </p>
      <button aria-label="redirect to store">EXPLORE STORE</button>
    </div>
  </section>